name: Add all issues and pull requests to project

on:
  issues:
    types:
      - opened
  pull_request_target:
    types:
      - opened

jobs:
  add-to-project:
    name: Add to project
    runs-on: arc-runner-set
    steps:
      - uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e # v1.0.2
        with:
          project-url: https://github.com/orgs/UnitVectorY-Labs/projects/41
          github-token: ${{ secrets.PROJECT_GITHUB_ACTION }}
